
body {
    line-height: 1.5;
    padding: 20px;
    color: black;
    background-color: whitesmoke;
}

.header {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.header h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid royalblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header p {
    margin-top: 5px;
}

main {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

main h2 {
    color: royalblue;
    margin-bottom: 10px;
    border-bottom: 2px solid royalblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

main h3 {

    padding-bottom: 10px;
}

main p {
    margin-bottom: 10px;
    text-align: justify;
}

main ul {
    padding-left: 20px;
}

main ul li {
    margin-bottom: 5px;
}

footer {
    padding: 20px;
    background-color: white;
}
